.intro {
    text-align: center;
    font-size: 250%;
}

.second-intro {
    background-color: lightcoral;
    padding: 10px;
    text-align: center;
}

.home-container {
    margin: 40px;
    margin-left: 250px;
    display: flex;
    padding: 70px;
    font-size: 30px;
}
.home-container div{
    text-align: center;
    margin: 30px;
}
.home-container div button {
    cursor: crosshair;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    background-color: lightcoral;
    color: rgb(215, 215, 215);
}