.edit-form-box {
    width: 400px;
    height: 520px;
    margin: auto;
    background-color: lightcoral;
    border-radius: 3px;
    color: white;
}

.edit-form-box h1 {
    text-align: center;
    padding-top: 15px;
}

.edit-form {
    width: 350px;
    margin-left: 20px;
}

.edit-form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

.edit-form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

.edit-form select {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

.edit-form input[type="submit"] {
    width: 350px;
    height: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    background: linear-gradient(to right, #f2f5f5, #848484, #565656);
    color: white;
    font-size: 18px;
    cursor: crosshair;
}